body {
    font-family: Arial, sans-serif;
    background-color: #12111f;
    text-align: center;
}

.container {
    margin: auto;
    background-color: #11072c;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin-top: 170px;
    padding: 20px;
}
h2{
  color: #fff;
}

.success-message {
    color: #ff0000;
    font-size: 24px;
}

.botao{
  background-color: #e5bd01;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}